main>ul{
	background-color: rgba(255, 255, 225, 0.75);
	border: 2px solid #300;
	border-radius: 0.5em;
	counter-reset: line-num;
	list-style-type: none;
	margin-left: 2%;
	width: 50%;
	padding-left: 3em;
}
main>ul>li:not(:last-child){
	border-bottom: 1px solid #999;
}
main>ul>li>code.rabbit{
	color: #000;
	display: inline-block;
	width: 70%;
}
main>ul>li>code.rabbit .line:before{
	position: absolute;
	right: 95%;
}
main>ul>li>div{
	display: inline-block;
	width: 25%;
}
