:root{
   	counter-reset: line-num;
}
code.rabbit{
	font-family: Consolas, Menlo, 'Liberation Mono', Courier, monospace;
	font-size: 1em;
}
code.rabbit .line:before{
	color: #999;
	counter-increment: line-num;
	content: counter(line-num);
}
code.rabbit .reserved1{
	color: #00f;
}
code.rabbit .op{
	color: #555;
}
code.rabbit .num{
	color: #01c;
}
code.rabbit .str{
	color: #071;
}
code.rabbit .comment{
	color: #496;
}
