code.rabbit{
	font-family: consolas;
	font-size: 1.25em;
}
code.rabbit .reserved1{
	color: #60c;
	font-weight: bold;
}
code.rabbit .num{
	color: #003;
}
code.rabbit .comment{
	color: #390;
	font-style: italic;
}
