main{
	margin: 1em;
}
section{
	counter-reset: line-num;
}
code.js, code.rabbit, code.r-error{
	border: 2px solid #300;
	border-radius: 0.5em;
	display: inline-block;
	padding: 0.5em;
	margin: 1em 0;
	width: calc(50% - 1.5em);
}
code.js{
	background: rgba(255, 255, 255, 0.8);
}
code.rabbit, code.r-error{
	background: rgba(255, 255, 225, 0.7);
}
code.r-error{
	color: #f00;
}
code:not([class]){
	font-style: italic;
}